:root {
  --primary-color: #7EA8BE;
  --secondary-color: #28536B;
  --accent1-color: #581908;
  --accent2-color: #DB3069;
  --accent3-color: #2E0E02;
  --text-font: "Kanit", serif;
  --header-font: "Rowdies", serif;
}

.logo {
  height: 150px;
  width: 150px;
}

body {
  font-family: var(--text-font);
}

#background {
  width: 100%;
}

.title-banner {
  position: absolute;
  background-color: rgba(46, 14, 2, 0.6);
  width: 100%;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title {
  text-align: center;
  margin: 5px;
  font-family: var(--header-font);
  font-weight: 300;
}

.overlay {
  position: absolute;
  background-color: rgba(40, 83, 107, 0.75);
  top: 50%;
  left: 7%;
  text-align: justify;
  width: 80%;
  padding-left: 10px;
}

.overlay p {
  padding: 10px;
  font-size: small;
  
}

.overlay img{
  float: right;
  margin: 30px;
  max-width: 150px;
}

h2 {
  font-family: var(--header-font);
  font-weight: 300;
}

.sociallinks a{
  text-decoration: none;
}

.sociallinks img {
  width: 10%;
}