:root {
  --primary-color: #7EA8BE;
  --secondary-color: #28536B;
  --accent1-color: #581908;
  --accent2-color: #DB3069;
  --accent3-color: #2E0E02;
  --text-font: "Kanit", serif;
  --header-font: "Rowdies", serif;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pagelinks {
  display: flex;
  justify-content: space-around;
  background-color: black;
  width: 290px;
  height: 1.5rem;
  align-items: center;
}

.directions {
  background-color: lightgray;
  padding: 3px;
  width: 65px;
  height: 1rem;
  font-size: x-small;
  text-align: center;
}

.logo {
  height: 150px;
  width: 150px;
}

body {
  font-family: var(--text-font);
}

h1 {
  text-align: center;
  margin: 5px;
  font-family: var(--header-font);
  font-weight: 300;
}

h2 {
  font-family: var(--header-font);
  font-weight: 300;
}

.contact {
  background-color: #7EA8BE;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact a{
  padding: 3px;
}

.adventure-container{
  display: flex;
  position: relative;
  background-color: #58190851;
  width: 103%;
}

.trip {
  padding: 10px;
  border: 1px solid black;
}

.trip-title{
  position: absolute;
  color: white;
}

.trip p{
  text-wrap: wrap;
  width: 90%;
  text-align: center;
}

.trip img{
  max-width: 350px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 100%;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}


.footer-container{
  background-color: #581908a3;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
}

.footer-container p{
  position: absolute;
}  

.sociallinks a{
  text-decoration: none;
  z-index: 100;
}

.sociallinks img {
  width: 7%;
}